@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<h1>@ViewData["Title"]</h1>
<hr />

<div class="row">
    <div class="container">
        <div class="col-md-6 offset-md-3 shadow">
            <div class="p-5">
                <p class="text-secondary fw-light">Please enter your email and then check your email</p>
                <small class="text-secondary fw-lighter">We've sent you an email to change your password</small>
                <form method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.Email" type="email" class="form-control" id="floatingEmail" placeholder="name@example.com" />
                        <label asp-for="Input.Email" for="floatingEmail"></label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group pt-3">
                        <button type="submit" class="btn btn-info btn-lg shadow-lg text-light">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
