@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="shadow text-center">
    <div class="p-5 mt-5 mb-5">
        <div class="pt-5 pb-5">
            <h1 class="pt-5 pb-5 text-secondary"><i class="bi bi-envelope-open"></i> @ViewData["Title"]</h1>
            <p>
                Please check your email to reset your password.
            </p>
        </div>
    </div>
</div>

