@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}



<div class="shadow text-center">
    <div class="p-5 mt-5 mb-5">
        <div class="pt-5 pb-5">
            <h1 class="pt-5 text-secondary"><i class="bi bi-key"></i> @ViewData["Title"]</h1>
            <p>
                Your password has been reset. Please <a asp-page="./Login" class="link-info text-decoration-none">click here to log in</a>.
            </p> 
        </div>
    </div>
</div>