@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
}

<h1>@ViewData["Title"]</h1>
<hr />
<div class="row">
    <div class="col-md-6 offset-md-3 shadow">
        <div class="p-5">
            <p class="text-secondary">You can change your password by below form</p>
            <hr />
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="Input.Code" type="hidden" />
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" type="email" class="form-control" id="floatingEmail" placeholder="name@example.com" />
                    <label asp-for="Input.Email" for="floatingEmail"></label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" asp-for="Input.Password" class="form-control" id="floatingPassword" placeholder="name@example.com" />
                    <label asp-for="Input.Password" for="floatingPassword"></label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" asp-for="Input.ConfirmPassword" class="form-control" id="floatingPassword" placeholder="name@example.com" />
                    <label asp-for="Input.ConfirmPassword" for="floatingPassword"></label>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="float-end pb-5 pt-3">
                    <button type="submit" class="btn btn-success btn-lg shadow-lg">Reset</button>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
