@page "/About"



<div class="row">
    <div class="text-center pt-3">
        <div class="">
            <img src="/Images/About.png" class="shadow img-fluid rounded-3 h-50" />
        </div>
        <div class="pt-5">
            <h3>Private Messenger</h3>
            <hr />
            <h3 class="text-secondary fw-light text-center lh-lg">
                You can have a connection with others and connect with your friends. Moreover you can find new friend.
            </h3>
        </div>
    </div>
</div>

@code {

}
