@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor httpContextAccessor
<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Private Messenger</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <i class="bi bi-house px-2"></i> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="about">
                <i class="bi bi-box-arrow-right px-2" aria-hidden="true"></i> About
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <AuthorizeView>
                <Authorized>
                    <NavLink class="nav-link" href="/reports" Match="NavLinkMatch.All">
                        <i class="bi bi-card-text px-2" aria-hidden="true"></i> Reports
                    </NavLink>
                    <NavLink class="nav-link" href="/userprofile" Match="NavLinkMatch.All">
                        <i class="bi bi-person-lines-fill px-2"></i> Profile
                    </NavLink>
                    <NavLink class="nav-link" href="/allusers" Match="NavLinkMatch.All">
                        <i class="bi bi-search  px-2"></i> Find user
                    </NavLink>
                </Authorized>
            </AuthorizeView>
        </li>
        <li class="nav-item px-3 col-sm-12 d-none d-sm-block d-md-none">
                <AuthorizeView>
                    <Authorized>
                        <NavLink class="nav-link" href="/identity/account/logout" Match="NavLinkMatch.All">
                            <i class="bi bi-person px-2"></i> @httpContextAccessor.HttpContext.User.Identity.Name
                        </NavLink>
                        <NavLink class="nav-link" href="/identity/account/logout" Match="NavLinkMatch.All">
                            <i class="bi bi-power px-2"></i> Logout
                        </NavLink>
                    </Authorized>
                    <NotAuthorized>
                        <NavLink class="nav-link" href="/identity/account/login" Match="NavLinkMatch.All">
                            <i class="oi oi-lock-locked px-2" aria-hidden="true"></i> Login
                        </NavLink>
                        <NavLink class="nav-link link-secondary" href="/register" Match="NavLinkMatch.All">
                            <i class="bi bi-box-arrow-right px-2"></i> Register
                        </NavLink>
                    </NotAuthorized>
                </AuthorizeView>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
